*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  padding: 30px 40px;
}

.section__title {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  color: #1f1f1f;
}

.section__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1f1f1f;
}

header {
  background-color: cornflowerblue;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  color: white;
}

.about__name {
  margin-top: 5px;
}

.about__profession {
  color: aliceblue;
}

.about__text {
  margin-top: 40px;
}

.text__paragraph {
  margin-bottom: 2px;
}

.avatar__img {
  height: 180px;
  border-radius: 20px;
}

address {
  background-color: rgb(24, 37, 59);
}

.address-inner {
  display: flex;
  flex-wrap: wrap;
}

.address-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address__item {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 8px;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}

.address__item-phone {
  background: url("../img/address/address__phone.svg") no-repeat center left;
  background-size: contain;
}

.address__item-mail {
  background: url("../img/address/address__mail.svg") no-repeat center left;
  background-size: contain;
}

.address__item-linkedin {
  background: url("../img/address/address__linkedin.svg") no-repeat center left;
  background-size: contain;
}

.address__item-github {
  background: url("../img/address/address__github.svg") no-repeat center left;
  background-size: contain;
}

.address__item-twitter {
  background: url("../img/address/address__twitter.svg") no-repeat center left;
  background-size: contain;
}

.address__item-home {
  background: url("../img/address/address__home.svg") no-repeat center left;
  background-size: contain;
}

.skills-list__item {
  display: inline-block;
  padding: 2px 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

.skills-list__item:last-child {
  margin-right: 0;
}

.section-list__item {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
}

.section-list__item:last-child {
  margin-bottom: 0;
}

.section-list__item::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 2px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1f1f1f;
}
