*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  padding: 30px 40px;
}

header {
  background-color: cornflowerblue;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  color: white;
}

.about__name {
  margin-top: 5px;
}

.about__profession {
  color: aliceblue;
}

.about__text {
  margin-top: 40px;
}

.text__paragraph {
  margin-bottom: 2px;
}

.avatar__img {
  height: 180px;
  border-radius: 20px;
}

address {
  background-color: rgb(24, 37, 59);
}

.address__inner {
  display: flex;
}

.address-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address__item {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 8px;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}

.address__item-phone {
  background: url("../img/address/address__phone.svg") no-repeat center left;
  background-size: contain;
}

.address__item-mail {
  background: url("../img/address/address__mail.svg") no-repeat center left;
  background-size: contain;
}

.address__item-linkedin {
  background: url("../img/address/address__linkedin.svg") no-repeat center left;
  background-size: contain;
}

.address__item-github {
  background: url("../img/address/address__github.svg") no-repeat center left;
  background-size: contain;
}

.address__item-twitter {
  background: url("../img/address/address__twitter.svg") no-repeat center left;
  background-size: contain;
}

.address__item-home {
  background: url("../img/address/address__home.svg") no-repeat center left;
  background-size: contain;
}
